doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Calculadora
    link(rel='stylesheet' href='style.css')
  body
    .container
      .calculadora
        .calculadora__display
          #calculadora__valor-anterior  
          #calculadora__valor-actual  
        button.calculadora__button.calculadora__button--columna-2 C
        button.calculadora__button ←
        button.calculadora__button.calculadora__button--numero %
        button.calculadora__button.calculadora__button--numero(data="hola") 7
        button.calculadora__button.calculadora__button--numero 8
        button.calculadora__button.calculadora__button--numero 9
        button.calculadora__button.calculadora__button--operador X
        button.calculadora__button.calculadora__button--numero 4
        button.calculadora__button.calculadora__button--numero 5
        button.calculadora__button.calculadora__button--numero 6
        button.calculadora__button.calculadora__button--operador -
        button.calculadora__button.calculadora__button--numero 1
        button.calculadora__button.calculadora__button--numero 2
        button.calculadora__button.calculadora__button--numero 3
        button.calculadora__button.calculadora__button--operador +
        button.calculadora__button.calculadora__button--numero.calculadora__button--columna-2 0
        button.calculadora__button.calculadora__button--numero .
        button.calculadora__button.calculadora__button--operador =
  script(src="Display.js")
  script(src="Calculadora.js")
  script(src="index.js")