doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Calculadora
    link(rel='stylesheet' href='style.css')
  body
    .container
      .calculadora
        .calculadora__display
          #calculadora__valorAnterior  321 *
          #calculadora__valorActual  32
        button.calculadora__columna-2.calculadora__button C
        button.calculadora__button ←
        button.calculadora__numero.calculadora__button %
        button.calculadora__numero.calculadora__button 7
        button.calculadora__numero.calculadora__button 8
        button.calculadora__numero.calculadora__button 9
        button.calculadora__operador.calculadora__button X
        button.calculadora__numero.calculadora__button 4
        button.calculadora__numero.calculadora__button 5
        button.calculadora__numero.calculadora__button 6
        button.calculadora__operador.calculadora__button -
        button.calculadora__numero.calculadora__button 1
        button.calculadora__numero.calculadora__button 2
        button.calculadora__numero.calculadora__button 3
        button.calculadora__operador.calculadora__button +
        button.calculadora__numero.calculadora__columna-2.calculadora__button 0
        button.calculadora__numero.calculadora__button .
        button.calculadora__operador.calculadora__button =
  script(src="Calculadora.js")
  script(src="index.js")